@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');
* {
	margin: 0;
	padding: 0;
	box-sizing: 0;
}
html{
	background-color: #fff;
}
body {
	width: 1024px;
	background-color: #9cc5a5;
	font-family: 'Poppins', sans-serif;
	font-weight: 400;
	margin: 0 auto;
}

.header {
	height: 540px;
	background-image: url(src/img/bg.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	padding: 1px;
}

.menu {
	width: 952px;
	margin: 23px auto 0;
}

.menu ul {
	display: flex;
	justify-content: space-between;
	list-style-type: none;
	align-items: flex-end;
}

.menu ul li a {
	text-decoration: none;
	color: black;
}

.menu ul li {
	font-size: 30px;
	font-weight: 500;
}
.menu ul li:hover {
transform: scale(1.1);
background: rgba(165, 32, 32, 0.517);
border-radius: 10px;
padding: 1px;
position: relative;
}

.menu ul li:nth-child(1) {
	font-size: 36px;
	font-weight: 700;
}

.tour-picture {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	height: 433px;
	width: 250px;
	background-repeat: no-repeat;
	background-size: cover;
	padding: 20px;
}
.tour-picture:hover{
	transform: rotate(-5deg);
	border: 10px solid white;
}
.one {
	background-image: url(src/img/tour1.jpg);
}

.two {
	background-image: url(src/img/tour2.jpg);
}

.three {
	background-image: url(src/img/tour3.jpg);
}

.title {
	text-align: center;
}

section.images {
	display: flex;
	width: 893px;
	justify-content: space-between;
	margin: 0 auto;
}

article.about {
	width: 845px;
	font-size: 30px;
	margin: 0 auto;
}
.social{
	display: flex;
	justify-content: center;
	gap: 30px;
	cursor: pointer;
}
.social:hover{
	transform: scale(1.1);
}
.tour-btn{
	width: 185px;
	height: 45px;
	background-color: #08D0EB;
	border: none;
	border-radius: 30px;
	font-size: 22px;
	cursor: pointer;
}
.tour-btn:hover{
	transform: scale(1.1);
}
.footer{
	height: 200px;
}
h1.title, h2.about, h2.title{
	height: 100px;
	line-height: 100px;
	text-align: center;
}
.logo{
	position: absolute;
	transition: all 5s ease-in-out;
	width: 200px;
	margin-top: 100px;
	margin-left: 100px;
	transform: rotate(45deg);
	opacity: 0
}
.header:hover .logo{
transform: translateX(700px);
opacity: 1;

}